<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cats_list_impl">

    <application>
        <activity
            android:name=".presentation.views.CatsListActivity"
            android:exported="true"
            android:label="@string/title_activity_cats_list"
            android:theme="@style/Theme.Cats.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>